/vc2013_clibs_Release_lib
/icc2013_clibs_Debug_lib
/icc2013_clibs_Release_lib
/icc2016_clibs_Debug_lib
/icc2016_clibs_Release_lib
/vc2008_clibs_Debug_lib
/vc2008_clibs_Release_lib
/vc2013_clibs_Debug_lib
